[user]
	name = mb_kondou
	email = kondou@maboroshi.biz
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/maboroshi_kondou/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	sb = show-branch
	mylog="log --graph --name-status --pretty=format:'%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset'"
	clone-Grunt="clone https://github.com/konweb/Grunt"
	clone-dotfiles="clone https://github.com/konweb/dotfiles"